@font-face {
   font-family: 'UniNeueHeavy';
   font-display: swap;
   src: url('file:///C:/Users/abaxt/OneDrive%20-%20Universit%C3%A4t%20f%C3%BCr%20k%C3%BCnstlerische%20und%20industrielle%20Gestaltung%20Linz/_Projects/digitalWerk-MobiriseProj/digitalwerk_webpage_24112022/fonts/UniNeueHeavy/font.ttf');
}
